<section class="ui-g">
  <div class="ui-lg-4 ui-md-6 ui-sm-6 ui-g">
    <div class="ui-g-12 ui-g">
      <div class="ui-g-4" id="title">{{ texts.MOVIE_TRAILERS }}</div>
      <div class="ui-g-4">
        <button
          pButton
          type="button"
          [label]="texts.COMING_SOON"
          [ngClass]="{ 'ui-button-secondary': nowShowing }"
          (click)="fetchComingSoon()"
        ></button>
      </div>
      <div class="ui-g-4">
        <button
          pButton
          type="button"
          [label]="texts.NOW_SHOWING"
          [ngClass]="{ 'ui-button-secondary': !nowShowing }"
          (click)="fetchNowShowing()"
        ></button>
      </div>
    </div>
  </div>
  <div class="ui-lg-4 ui-md-1 ui-sm-0"></div>
  <div class="ui-lg-4 ui-md-5 ui-sm-6 ui-g">
    <div class="ui-g-11 ui-g">
      <div class="ui-g-4">
        <p-dropdown
          [options]="sortByOptions"
          [(ngModel)]="sortByPopularity"
          (ngModelChange)="sortMovies()"
        ></p-dropdown>
      </div>
      <div class="ui-g-4">
        <p-multiSelect
          [options]="languages"
          [(ngModel)]="selectedLanguages"
          [defaultLabel]="texts.ALL_LANGUAGES"
          (ngModelChange)="filterMovies()"
        ></p-multiSelect>
      </div>
      <div class="ui-g-4">
        <p-multiSelect
          [options]="genres"
          [(ngModel)]="selectedGenres"
          [defaultLabel]="texts.ALL_GENRES"
          (ngModelChange)="filterMovies()"
        ></p-multiSelect>
      </div>
    </div>
    <div class="ui-g-1 ui-g">
      <div class="ui-g-12">
        <fa id="filter-close" name="times" (click)="clearFilter()"></fa>
      </div>
    </div>
  </div>
</section>

<div class="movie-list">
  <div class="ui-g">
    <div class="ui-g-12 ui-g" *ngIf="selectedGenres.length || selectedLanguages.length">
      <span class="all-filters">{{ texts.APPLIED_FILTERS }}: </span>
      <span class="chips" *ngFor="let lang of selectedLanguages">
        {{ lang }}
        <fa name="times" (click)="removeFilter('language', lang)"></fa>
      </span>
      <span class="chips" *ngFor="let genre of selectedGenres">
        {{ genre }}
        <fa name="times" (click)="removeFilter('genre', genre)"></fa>
      </span>
    </div>
  </div>
  <div class="ui-g">
    <div
      *ngFor="let movie of filteredMovies"
      class="ui-xl-2 ui-lg-2 ui-md-3 ui-sm-6 movie-card"
    >
      <app-movie-card [movie]="movie"></app-movie-card>
    </div>
  </div>
</div>
