#title {
  font-family: "Brush Script MT", cursive;
  font-size: 1.1rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 100;
}

fa {
  cursor: pointer;
}

fa#filter-close {
  font-size: 1.3rem;
  font-weight: 100;
}

.all-filters {
  padding: 0.3rem 1rem;
}

.chips {
  padding: 0.3rem;
  border-radius: 9rem;
  background: lighten(black, 30%);
  margin-right: 1rem;
}

.movie-list {
  height: -webkit-fill-available;
  background-color: lighten(black, 10%);

  .movie-card {
    padding: 1.25rem;
  }
}
