.container-ng {
  position: relative;

  .name {
    font-size: x-small;
  }

  .play-btn {
    font-size: 2.5rem;
    position: absolute;
    top: 40%;
    left: 40%;
  }

  .show-date {
    height: 2.25rem;
    width: 2.25rem;
    background-color: #1ea04c;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding: 0.15rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

  .rate {
    position: absolute;
    bottom: 2.2rem;
    right: 1rem;

    .rating {
      font-size: 0.8rem;

      fa {
        color: #1ea04c;
      }
    }
  }
}
